@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@-webkit-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}
@keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
}

body {
	margin-top: 40px;
	margin-left: 20px;
	font-family: 'Inconsolata', monospace;
	background: linear-gradient(270deg, #000000, #001908);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
}

.topnav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: Nond;
	overflow: hidden;
	padding: 0;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #00F000;
}

.topnav a {
	float: left;
	color: #00F000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-right: 1px solid #00F000;
}

.topnav a:hover {
	background-color: rgba(0, 255, 0, 0.1);
}

.container {
	padding: 20px;
}

.opener {
	font-size: 24px;
	color: #00F000;
}

.title {
	margin-top: -10px;
	font-size: 56px;
	color: #00F000;
}

.typing {
	font-size: 32px;
	color: #00F000;
}